@import "~bootstrap/scss/bootstrap.scss";



.container-body{
    margin-top:70px;
}



.jumbotron{
    background-color: #EAECEF;
    padding:5px;
    border-radius: 10px;
    // top:500px;
    // offset: -200px;
    // margin-top:200px;
}

.footer{
    background-color:red;
    position:relative;

}